    .row { margin-right: 0px; margin-left: 0px; }
    .ui-timepicker-select { padding: 13px 8px; border: 1px solid #c8c8c8; }
    .table2_s tbody td { border-bottom: solid 1px #fff; border-right: none; }
    .table2_s tbody td a{ color: #111; font-weight: normal;}
    #header1.active {color: #000; font-weight: bold;}
    #header2.active {color: #000; font-weight: bold;}
    #header3.active {color: #000; font-weight: bold;}
    a.delete2 {
        display: inline-block; width: 24px; height: 24px; margin-left: 3px; background: url(/img/Deleteicon_new.png) no-repeat 0 0;
        background-size: 24px 24px; background-size: cover;
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-interpolation-mode: bicubic; }
    .ui-timepicker-select {}
    a.publish_chk { display: inline-block; width: 100%; float: left; text-align: left; color: #fff; text-decoration: none; line-height: 3.4; padding: 0px 10px; }
    .publish_chk:before { content: ''; display: inline-block; background: #fff; width: 20px; height: 20px; text-align: center; vertical-align: middle; color: #aaa; font-family: 'Glyphicons Halflings'; }
    .publish_chk.active {}
    .publish_chk.active:before { content: "\e013"; line-height: 1.3; color: #099A4D; }
