body, td, pre {color:#000; font-family: 'Open Sans', sans-serif, Helvetica, Arial; font-size:16px; margin:8px;}
body.mceContentBody {
   background: #FFF;
   font-size:16px;
}

.mceContentBody a {
   color: red !important; /* FF requires a important here */
}