.info_row{ border-bottom:1px solid #c8c8c8;display: inline-block; width: 100%;}
.info_title{ min-width:130px; width: 30%; padding: 10px 0px 17px 0px; float: left; font-size:14px; color: black; font-weight: bold;}
.info_description{ min-width:130px; width: 70%; padding: 10px 0px 17px 0px; float: left; color:#777; font-size:14px; }
table.assesment_result { width: 100%; border: 1px solid #ccc; background: #e0e0e0; }
table.assesment_result .question{ width: 100%; border: 1px solid #ccc; background: #fff; padding: 10px; float: left;text-align: center; }
table.assesment_result .student{ width: 100%; border: 1px solid #ccc; background: #fff; padding: 10px; float: left; }
table.assesment_result .marks{ width: 100%; border: 1px solid #ccc; background: rgb(145, 208, 80); padding: 10px; float: left;text-align: center; }

table.assesment_result .score0{ width: 100%; border: 1px solid #ccc; background: #eeeeee; padding: 10px; float: left;text-align: center; color: #bfbfbf; }
table.assesment_result .score1{ width: 100%; border: 1px solid #ccc; background: #ff8866; padding: 10px; float: left;text-align: center; }
table.assesment_result .score2{ width: 100%; border: 1px solid #ccc; background: #ffff99; padding: 10px; float: left;text-align: center; }
table.assesment_result .score3{ width: 100%; border: 1px solid #ccc; background: #99ee99; padding: 10px; float: left;text-align: center; }
table.assesment_result .score4{ width: 100%; border: 1px solid #ccc; background: #55bb55; padding: 10px; float: left;text-align: center; }
