DirectoryIndex index.php
RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|cronjob\.php|info\.php|index\.html|style\.css|res|robots\.txt|css|js|img|uploads|fonts)
RewriteRule ^(.*)$ /index.php?/$1 [L]