#theElement-a, #theElement-b {
	position: relative;
	display: inline-block;
	width: 700px;height: 500px;
}
#theElement-a img{width: 700px;height: 500px;}

#theElement-b {
	margin-left: 200px;
}
.remove_hotspot{width: 20px;height: 20px;position: absolute;bottom:-2px;right:0px;background-image: url("../img/deleteicon24.png");background-repeat: no-repeat;background-size: 80%}
.edit_hotspot{width: 16px;height: 16px;position: absolute;bottom:1px;right:24px;background-image: url("../img/icon-edit-grey.png");background-repeat: no-repeat;background-size: 100%}
